# --- Sécurité JWT ---
SECRET_KEY=change_moi_avec_une_vraie_clef_secrete
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# --- Base de données ---
DATABASE_URL=sqlite+aiosqlite:///./nutrition_coach.db

# --- APIs externes ---
THEMEALDB_BASE_URL=https://www.themealdb.com/api/json/v1/1
USDA_API_KEY=colle_ta_clef_usda_ici
USDA_BASE_URL=https://api.nal.usda.gov/fdc/v1
